<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @order.product_name%>
</p>

<p>
  <strong>Product count:</strong>
  <%= @order.product_count %>
</p>

<p>
  <strong>Customer ID:</strong>
  <%= @order.customer_id %>
</p>


<%= link_to 'Edit', edit_customer_path(@order) %> |
<%= link_to 'Back', new_customer_path %>
